/*==================
====================
        RESET
====================
==================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==================
====================
        DEBUG
====================
==================*/
.debug__border{
    border: 2px solid black;
}

/*==================
====================
        COLOR
====================
==================*/
:root {
    --primo__gradiente:#009688;
    --secondo__gradiente:#dadbd4;
    --notifica:#8edafc;
    --icone:#b1b1b1;
}
/*==================
====================
        FONT
====================
==================*/
body {
    font-family: 'Lato', sans-serif;
}

/*==================
====================
    UTILITIES
====================
==================*/
.d-flex {
    display: flex;
}

/*==================
====================
    STYLE
====================
==================*/
.btn {

}

.serch__bar {

}

.icons {

}
/*==================
====================
    MAIN
====================
==================*/
main {
background: linear-gradient(0deg, rgba(220,219,210,1) 80%, rgba(0,150,136,1) 30%);
height: 100vh;
width: 100vw;
padding: 25px 80px;

justify-content: center;
align-items: center;
}
/*==================
    CONTAINER
==================*/
.container {
    width: 80vw;
    height: 90vh;
}

/*==================
    USER BAR
==================*/
.user__bar-container {
    width: 40%;
}

/*==================
    MAIN BODY
==================*/
.main__body-container {
    width: 60%;
}
/*======== MAIN ==========*/
