* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, var(--primo__gradiente) 20%, var(--secondo__gradiente) 20%);
    padding:20px 40px ;

}

.container {
    max-width: 1500px;
    height: 100%;
    margin: auto;
    background-color: white;
    display: flex;
}

.leftcolumn, .rightcolumn {
    display: flex;
    flex-direction: column;
}

.leftcolumn {
    width: 30%;
    background-color: blueviolet;

}

.lefthead {
    background-color: var(--bg-comune);
    width: 100%;
    height: 7%;
}

.notifica {
    background-color: var(--notifica);
    width: 100%;
    height: 7%;
}

.search {
    background-color: var(--bg-comune);
    width: 100%;
    height: 5%;
    display: flex;
}

.userlist {
    background-color: white;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 30px 20px;
}

.rightcolumn {
    flex: 1;
    overflow-y: auto;
    background-color: black;

}

.righthead {
    background-color: var(--bg-comune);
    width: 100%;
    height: 7%;
}

.messages {
    display: flex;
    flex: 1;
    padding: 10px 20px;
    overflow-y: auto;
    color: aqua;
}

.rightfoot {
    background-color: var(--bg-comune);
    width: 100%;
    height: 7%;
    
}

/*==================
====================
        COLOR
====================
==================*/
:root {
    --primo__gradiente:#009688;
    --secondo__gradiente:#dadbd4;
    --notifica:#8edafc;
    --icone:#b1b1b1;
    --bg-comune: #eaeaea;
}

/*==================
====================
        FONT
====================
==================*/
body {
    font-family: 'Lato', sans-serif;
}

/*==================
====================
        DEBUG
====================
==================*/
.debug__border{
    border: 1px solid black;
}

/*==================
====================
        DEBUG
====================
==================*/
/*==================
    USER BAR
==================*/
/*======== NOTIFICATION ==========*/
