<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- style css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- style css -->
        <!-- vue js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- vue js -->
        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- axios -->
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <!-- fontawesome -->
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!-- google font -->    
</head>
<body>
    <div class="container" id="app">
            <div class="leftcolumn">
                <div class="lefthead">
                    <div class="profile">
                        <img src="img/avatar_io.jpg" alt="">
                        <div class="name">gina</div>
                    </div>
                    <div class="head__icons">
                        <ul>
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="notifica">
                    <div class="icona">
                        <i class="fa-sharp fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="messaggio__container">
                        <span class="messaggio">
                            Ricevi notifiche di nuovi messaggi
                        </span>
                        <span class="action">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div class="search">
                    <button type="submit" class="search__button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <form action="" class="search__form">
                        <input type="text" name="" id="search__bar">
                    </form>
                </div>
                <div class="userlist">
                    <ul>
                        <li class="user" v-for="(contact, index) in contacts" @click="selectUser(index)">
                            <div class="avatar">
                                <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                            </div>
                            <div class="data">
                                <div class="name">{{contact.name}} </div>
                                <div class="date__message">Ultimo messaggio inviato</div>
                            </div>
                            <div class="time">12:00</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="righthead">
                    <div class="current__chat">
                        <div class="avatar__img"v-for="(contact, index) in 1">
                            <img :src="`img/avatar${contacts[indexUser].avatar}.jpg`" alt="">
                        </div>
                        <div class="avatar__data">
                            <div class="name" v-for="(contact, index) in 1">{{contacts[indexUser].name}}</div>
                            <div class="date__message">Ultimo accesso oggi alle 12:00</div>
                        </div>
                    </div>

                    <div class="righthead__icons">
                        <ul>
                            <li><i class="fa-solid fa-magnifying-glass"></i>
                            </li>
                            <li><i class="fa-sharp fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="messages">
                    <div class="message sent" v-for="object in contacts[indexUser].messages">{{object.message}}</div>
                </div>
                <div class="rightfoot">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="chat__bar">
                        <form action="">
                            <input type="tel" name="" id="">
                        </form>
                    </div>
                    <div class="microfono">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>